.*
~*
/build
!tests/.coveragerc
!.gitignore
!.github
!.isort.cfg
!.flake8
!.bumpversion.cfg
!.readthedocs.yaml
!.pre-commit-config.yaml
!docs/**/.pages
src/admin_extra_buttons/version.py
coverage.xml
pytest.xml
*.py[co]
*.egg-info
*.sqlite
dist
docs/site
stubs/
