include README.md
include CHANGES
include LICENSE
include MANIFEST.in
include tox.ini
include setup.py
include setup.cfg

global-include *.pyi
global-include *.typed

include tests/.coveragerc
recursive-include src/requirements *.pip
recursive-include docs *
recursive-include src/admin_extra_buttons *
recursive-include tests *
