{% extends "admin/change_form.html" %}{% load admin_list admin_urls extra_buttons i18n static %}
{% block breadcrumbs %}
<div class="breadcrumbs">
{% block breadcrumbs-items %}
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
{% if original %}&rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk %}">{{ original }}</a>{% endif %}
{% block breadcrumbs-active %}&rsaquo; {{ action|default_if_empty:title }}{% endblock %}
{% endblock breadcrumbs-items %}
</div>
{% endblock breadcrumbs %}

{% block content_title %}<h1>{{ title|default_if_none:"" }}&nbsp;</h1>{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
        {% include "admin_extra_buttons/includes/action_buttons.html" %}
    {% endblock object-tools-items %}
  </ul>
{% endblock object-tools %}
    <div class="module">
    {% block action-content %}{% endblock %}
    </div>
{% block admin_change_form_document_ready %}
{% block document_ready %}

{% endblock document_ready %}
{% endblock admin_change_form_document_ready %}
</div>
{% endblock content %}
