{% extends 'admin/base_site.html' %}{% load admin_list admin_urls i18n static %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a>
        &rsaquo;
        {% translate 'Confirmation' as confirmation %}
        {{ title|default_if_none:confirmation }}
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <h1>{% translate 'Warning' %}</h1>
    <h2>{{ message }}</h2>
    {% if description %}
    <br>
    <div><h3>{{ description }}</h3></div>
    <hr>
    {% endif %}
    <br><br><br><br><br>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-large btn-danger" value="{% trans 'Confirm'  %}">
        <input type="button" class="btn btn-large btn-success"
               onclick="javascript:history.back()"
               value="{% trans 'Go Back' %}">
    </form>
{% endblock content %}
